/* EFECTO DE DESPLAZAMIENTO SUAVE */
html {
    scroll-behavior: smooth;
}

/* SECCIÓN DE PRODUCTOS */
.section-products {
    padding: 80px 20px;
    background-color: #000000;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    letter-spacing: 8px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: #111;
    padding: 20px;
    border: 1px solid #333;
    transition: 0.3s;
}

.product-card:hover {
    border-color: #CC0000; /* Resalta con el rojo RLR */
}

.product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
